---
const { published, url, title, type, image, description, author } = Astro.props;
---

<!-- <div class="cell small-12 medium-6 large-3"> -->
<div
  class="card card-hover-animation bg-transparent border-0 mb-8 card-full-clickable"
>
  <div
    style={`height: 180px; width: 100%; background: #018BFF url(${image}) no-repeat; background-size: auto 100%; background-position: top center; border-radius: 5px`}
    class="mb-4"
  >
  </div>
  <p class="text-sm text-muted mb-1">
    {
      new Intl.DateTimeFormat("en-US", {
        day: "numeric",
        month: "long",
        year: "numeric",
      }).format(published)
    }
  </p>
  <div class="h6 card-title m-0" style="height: 92px;">
    <a href={url} style="color: #151e29; text-decoration: none;"> {title}</a>
  </div>
</div>
