<code style="font-size: 1.25rem" class="cypher hxljs">
<span class="hljs-keyword">MATCH</span>
<span class="node">
(j:
<span class="hljs-type">Person</span>
)
</span>
<span class="relationship">
-[r:
<span class="hljs-type">LIKES</span>
]-&gt;
</span>
<span class="node">
(tech:
<span class="hljs-type">Technology</span>
)
</span>
<span class="relationship">
&lt;-[r2:
<span class="hljs-type">LIKES</span>
]-
</span>
<span class="node">
(p:
<span class="hljs-type">Person</span>
)
</span>
<span class="where">
<span class="hljs-keyword">WHERE</span>
j.name=<span class="hljs-string">'Jennifer'</span>
AND tech.type=<span class="hljs-string">'Graphs'</span>
</span>
<span class="return">
<span class="hljs-keyword">RETURN</span> p.name;
</span>
</code>