---
import Cypher from "./cypher/cypher.min.astro";
import Hoverable from "./hoverable.astro";
---

<div class="grid-container">
  <div class="grid-x small-up-1 grid-padding-x-lg grid-padding-y-xl">
    <div class="cell">
      <div class="bg-neutral-20 p-12 rounded-md">
        <div class="grid-x items-center grid-padding-x-xl">
          <div class="cell small-12 large-6 mb-8">
            <div>
              <h3 class="mb-8">Introducing Cypher</h3>
              <p class="section-subtitle mb-8">
                Cypher is a declarative open query language that allows for
                expressive and efficient queries in a property graph. Originally
                built by Neo4j, Cypher is easy-to-learn and the widely adopted
                standard graph query language of developers worldwide.
              </p>
            </div>
          </div>
          <div class="cell small-12 large-6">
            <div class="code-container mb-12">
              <div class="code-title">Cypher</div>
              <Cypher />
            </div>
          </div>
        </div>
        <div class="grid-x grid-padding-x-xl">
          <div class="cell small-12 md-6 large-3">
            <h4 class="text-overline">Pattern Matching</h4>
            <p>
              Cypher works by{" "}
              <Hoverable
                text="matching patterns in your data"
                target="show-match"
              />
              {" "}using an ASCII-art style syntax.
            </p>
          </div>
          <div class="cell small-12 md-6 large-3">
            <h4 class="text-overline">ASCII-art Style Syntax</h4>
            <p>
              <Hoverable
                text="Draw nodes using parentheses"
                target="show-node"
              />. Simply
              {" "}<Hoverable text="define labels" target="show-label" /> and <Hoverable
                text="properties"
                target="show-inline-where"
              />
              {" "}as part of the pattern.
            </p>
          </div>
          <div class="cell small-12 md-6 large-3">
            <h4 class="text-overline">Traverse your Graph</h4>
            <p>
              <Hoverable
                text="Expand relationships by drawing using arrows, square brackets"
                target="show-relationship"
              /> and an arrow to denote the direction.
            </p>
          </div>
          <div class="cell small-12 md-6 large-3">
            <h4 class="text-overline">Filter and Return</h4>
            <p>
              Filter data <Hoverable
                text="within the pattern"
                target="show-inline-where"
              /> or
              <Hoverable
                text="express more complex predicates in the WHERE clause"
                target="show-where"
              />

              {" "}
              and control the output using the
              {" "}
              <Hoverable text="RETURN clause" target="show-return" />.
            </p>
          </div>
        </div>
        <div class="grid-x grid-padding-x-xl">
          <div class="cell small-12 mt-8">
            <p class="section-subtitle">
              <a
                class="arrowed"
                href="https://graphacademy.neo4j.com/courses/cypher-fundamentals/?ref=developer"
                target="_blank">Learn Cypher Fundamentals on GraphAcademy</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
