---
import "../../assets/customer-cards.css";

import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Hero from "../components/hero.astro";
import Cypher from "../components/cypher.astro";
import UseCases from "../components/use-cases.astro";
import Drivers from "../components/drivers.astro";
import FeaturedContent from "../components/feed/featured-content.astro";
import Community from "../components/community.astro";
import Cta from "../components/cta.astro";
import HeadScripts from "../components/head-scripts.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      id="foundation-css"
      href="https://neo4j.com/wp-content/themes/neo4jweb/assets_v2/dist/app.min.css?ver=1692385098"
      type="text/css"
      media="screen"
    />
    <link
      rel="stylesheet"
      id="/var/www/wp-content/themes/neo4jweb/assets/neo4j-react-modules-assets/search-preact/bundle.9cb85.css-css"
      href="https://neo4j.com/wp-content/themes/neo4jweb/assets/neo4j-react-modules-assets/search-preact/bundle.9cb85.css?ver=6.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="neo4j-block-styles-css"
      href="https://neo4j.com/wp-content/themes/neo4jweb/assets/css/blocks/block-styles.css?ver=1692385084"
      type="text/css"
      media="all"
    />
    <script
      type="text/javascript"
      src="https://neo4j.com/wp-content/themes/neo4jweb/assets/js/vendor/jquery-3.6.1.min.js?ver=3.6.1"
      id="jquery-js"
    ></script>
    <script
      type="text/javascript"
      src="https://neo4j.com/wp-content/plugins/miniorange-saml-20-single-sign-on/includes/js/settings.js?ver=6.3"
      id="mo_saml_admin_settings_script_widget-js"
    ></script>
    <script
      type="text/javascript"
      src="https://neo4j.com/wp-content/themes/neo4jweb/assets_v2/scripts/neo4j/dist/main_v2.min.js?ver=202308119-1455"
      id="neo4j-global-scripts-js"
    ></script>
    <script
      type="text/javascript"
      src="https://neo4j.com/wp-content/themes/neo4jweb/assets/js/dist/components/language-redirects.min.js?ver=1692385096"
      id="language-redirects-js"
    ></script>

    <HeadScripts />
  </head>
  <body>
    <div id="developer-home" data-c="DEV_HOME_PAGE">
      <Header />
      <Hero />
      <UseCases />
      <Cypher />
      <Drivers />
      <Community />
      <FeaturedContent />
      <Cta />
      <Footer />
    </div>
  </body>
</html>
