---
import "../../assets/customer-cards.css";

import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Hero from "../components/hero.astro";
import Cypher from "../components/cypher.astro";
import UseCases from "../components/use-cases.astro";
import Drivers from "../components/drivers.astro";
import FeaturedContent from "../components/feed/featured-content.astro";
import Community from "../components/community.astro";
import Cta from "../components/cta.astro";
import HeadScripts from "../components/head-scripts.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://neo4j.com/wp-content/themes/neo4jweb/assets_v2/dist/app.min.css?ver=1680299264"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
      rel="preload"
    />

    <HeadScripts />
  </head>
  <body>
    <Header />
    <!-- <Hero client:only="react" /> -->
    <Hero />
    <UseCases />
    <Cypher />
    <Drivers />
    <Community />
    <FeaturedContent />
    <Cta />
    <Footer />

    <script
      type="text/javascript"
      src="https://go.neo4j.com/js/forms2/js/forms2.min.js?ver=2021-01-13"
      id="forms2-js"
    ></script>
    <script
      type="text/javascript"
      src="https://neo4j.com/wp-content/themes/neo4jweb/assets/js/dist/components/teknkl-simpledto-1.0.4.min.js?ver=1.0.4"
      id="teknkl-simpledto-js"
    ></script>
    <script
      type="text/javascript"
      src="https://neo4j.com/wp-content/themes/neo4jweb/assets/js/dist/components/neo-marketo-dto.min.js?ver=1.0.4"
      id="neo-marketo-dto-js"
    ></script>
  </body>
</html>
