<section id="build-run">
  <div class="grid-container dark dark-tabs pt-12 pb-12 pl-12 pr-12">
    <div class="grid-x">
      <div class="cell small-10 medium-offset-1 show-for-medium">
        <h2 class="text-center">Build &amp; Run</h2>

        <div id="developer-tabs">
          <ul
            class="tabs text-white"
            data-tabs="088nt7-tabs"
            id="developer-tabs"
            role="tablist"
          >
            <li class="tabs-title is-active" role="presentation">
              <a
                href="#panel1"
                aria-selected="true"
                role="tab"
                aria-controls="panel1"
                id="panel1-label"
                tabindex="0">Build</a
              >
            </li>
            <li class="tabs-title" role="presentation">
              <a
                data-tabs-target="panel2"
                href="#panel2"
                role="tab"
                aria-controls="panel2"
                aria-selected="false"
                id="panel2-label"
                tabindex="-1">Engage</a
              >
            </li>
            <li class="tabs-title" role="presentation">
              <a
                data-tabs-target="panel3"
                href="#panel3"
                role="tab"
                aria-controls="panel3"
                aria-selected="false"
                id="panel3-label"
                tabindex="-1">Operate</a
              >
            </li>
          </ul>

          <div class="tabs-content" data-tabs-content="developer-tabs">
            <div
              class="tabs-panel bg-neutral-75 text-white p-12 is-active"
              id="panel1"
              role="tabpanel"
              aria-labelledby="panel1-label"
            >
              <div class="grid-x">
                <div class="cell auto">
                  <a
                    href="/developer/cypher/guide-build-a-recommendation-engine/"
                  >
                    <img
                      src="https://dist.neo4j.com/wp-content/uploads/20220223173219/Build-2.svg"
                      alt=""
                    />
                    <p class="mt-4">
                      <b>Build a Recommendation<br /> Engine</b>
                    </p>
                  </a>
                </div>
                <div class="cell auto">
                  <a href="/developer/graph-visualization/">
                    <img
                      src="https://dist.neo4j.com/wp-content/uploads/20220223173218/Build-1.svg"
                      alt=""
                    />
                    <p class="mt-4"><b>Visualize a Graph</b></p>
                  </a>
                </div>
                <div class="cell auto">
                  <a href="https://dev.to/lyonwj/series/13842">
                    <img
                      src="https://dist.neo4j.com/wp-content/uploads/20220301153808/Build2.svg"
                      alt=""
                    />
                    <p class="mt-4">
                      <b>Build Full-Stack<br /> Applications with Graph</b>
                    </p>
                  </a>
                </div>
              </div>
            </div>
            <div
              class="tabs-panel bg-neutral-75 text-white p-12"
              id="panel2"
              role="tabpanel"
              aria-labelledby="panel2-label"
              aria-hidden="true"
            >
              <div class="grid-x">
                <div class="cell auto">
                  <a href="https://community.neo4j.com/">
                    <img
                      src="https://dist.neo4j.com/wp-content/uploads/20220223173220/Engage-1.svg"
                      alt=""
                    />
                    <p class="mt-4"><b>Neo4j Community Site<br /></b></p>
                  </a>
                </div>
                <div class="cell auto">
                  <a href="/developer/discord/">
                    <img
                      src="https://dist.neo4j.com/wp-content/uploads/20220223173221/Engage-2.svg"
                      alt=""
                    />
                    <p class="mt-4"><b>Neo4j Discord</b></p>
                  </a>
                </div>
                <div class="cell auto">
                  <a href="/developer-blog/">
                    <img
                      src="https://dist.neo4j.com/wp-content/uploads/20220223173222/Engage.svg"
                      alt=""
                    />
                    <p class="mt-4"><b>Neo4j Developer Blog</b></p>
                  </a>
                </div>
              </div>
            </div>
            <div
              class="tabs-panel bg-neutral-75 text-white p-12"
              id="panel3"
              role="tabpanel"
              aria-labelledby="panel3-label"
              aria-hidden="true"
            >
              <div class="grid-x">
                <div class="cell auto">
                  <a href="/cloud/aura/">
                    <img
                      src="https://dist.neo4j.com/wp-content/uploads/20220223173223/Operate-2.svg"
                      alt=""
                    />
                    <p class="mt-4"><b>Get Started with AuraDB</b></p>
                  </a>
                </div>
                <div class="cell auto">
                  <a href="/docs/desktop-manual/current/">
                    <img
                      src="https://dist.neo4j.com/wp-content/uploads/20220223173222/Operate-1.svg"
                      alt=""
                    />
                    <p class="mt-4"><b>Install Neo4j Desktop</b></p>
                  </a>
                </div>
                <div class="cell auto">
                  <a href="/docs/operations-manual/current/cloud-deployments/">
                    <img
                      src="https://dist.neo4j.com/wp-content/uploads/20220223173224/Operate.svg"
                      alt=""
                    />
                    <p class="mt-4"><b>Run Neo4j in the Cloud</b></p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-x text-center pt-4">
      <div class="cell medium-4 medium-offset-4">
        <div class="grid-x">
          <div class="cell auto">
            <a
              data-l="twitter icon"
              href="https://twitter.com/neo4j"
              title="Neo4j Twitter"
              target="_blank"
              rel="noopener"
            >
              <div class="p-2 inline-flex justify-center">
                <img
                  src="https://dist.neo4j.com/wp-content/uploads/20220301102541/Twitter-1.svg"
                  alt=""
                />
              </div>
            </a>
          </div>
          <div class="cell auto">
            <a
              data-l="twitch icon"
              href="https://www.twitch.tv/neo4j"
              title="Neo4j Twitch"
              target="_blank"
              rel="noopener"
            >
              <div class="p-2 inline-flex justify-center">
                <img
                  src="https://dist.neo4j.com/wp-content/uploads/20220301102541/Twitch.svg"
                  alt=""
                />
              </div>
            </a>
          </div>
          <div class="cell auto">
            <a
              data-l="youtube icon"
              href="https://youtube.com/neo4j"
              title="Neo4j YouTube"
              target="_blank"
              rel="noopener"
            >
              <div class="p-2 inline-flex justify-center">
                <img
                  src="https://dist.neo4j.com/wp-content/uploads/20220301102542/YouTube.svg"
                  alt=""
                />
              </div>
            </a>
          </div>
          <div class="cell auto">
            <a
              data-l="discord icon"
              href="/developer/discord/"
              title="Neo4j Discord"
              target="_blank"
              rel="noopener"
            >
              <div class="p-2 inline-flex justify-center">
                <img
                  src="https://dist.neo4j.com/wp-content/uploads/20220301102539/Discord.svg"
                  alt=""
                />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="grid-x mt-12">
      <div class="cell text-center medium-6 medium-offset-3">
        <h4>The Language of Graphs</h4>
        <p>
          Cypher is a declarative open query language that allows for expressive
          and efficient queries in a property graph. Originally built by Neo4j,
          Cypher is easy-to-learn and the widely adopted standard<br /> graph query
          language of developers worldwide.
        </p>
        <a href="/developer/cypher/"
          ><p class="text-primary-30">Learn more about Cypher</p></a
        >
      </div>
    </div> -->

    <!-- <div class="grid-x pt-12">
      <div class="cell medium-8 medium-offset-2">
        <div class="code-container">
          <div class="code-title">
            Cypher
            <span class="inline-block text-neutral-40 float-right"></span>
          </div>
          <pre><code class="cypher hljs"><span class="hljs-keyword">MATCH</span> (j:<span class="hljs-type">Person</span>)-[r:<span class="hljs-type">LIKES</span>]-(tech:<span class="hljs-type">Technology</span>)-[r2:<span class="hljs-type">LIKES</span>]-(p:<span class="hljs-type">Person</span>)
  <span class="hljs-keyword">WHERE</span> j.name=<span class="hljs-string">'Jennifer'</span> AND tech.type=<span class="hljs-string">'Graphs'</span>
  <span class="hljs-keyword">RETURN</span> p.name;
  <span />
                </code></pre>
        </div>
      </div>
    </div> -->
  </div>
</section>
