<section id="support-and-community" class="pt-2">
  <div id="subpoint-multi-column" class="pt-0 pb-0 bg-neutral-15">
    <div class="grid-container p-16 bg-neutral-15">
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-12 mb-10">
          <h5 class="text-overline text-center">Neo4j COMMUNITY</h5>
          <h2 class="text-center">Continue your Graph Journey</h2>
          <p class="text-center">
            Connect with passionate graphistas and contribute to the vibrant
            ecosystem that surrounds Neo4j.
            <!-- Get expert technical support and
            a vibrant community. -->
          </p>
        </div>
      </div>
      <div class="grid-x grid-margin-x">
        <div
          class="cell p-4 small-12 small-12 rounded-lg medium-auto card card-minimal-style"
        >
          <a
            style="color: #151e29; text-decoration: none;"
            href="dev.neo4j.com/forum"
          >
            <img
              class="pb-4"
              src="https://dist.neo4j.com/wp-content/uploads/20220404160350/gds_main_Documentation.svg"
              alt=""
            />
            <h5 class="text-overline">This Week in Neo4j</h5>
            <strong
              ><p>
                Subscribe to the TWIN4J Newsletter to receive the latest
                educational content from our community members.
              </p></strong
            >
          </a>
        </div>
        <div
          class="cell p-4 small-12 small-12 medium-auto card card-minimal-style"
        >
          <a
            style="color: #151e29; text-decoration: none;"
            href="https://community.neo4j.com/"
          >
            <img
              class="pb-4"
              src="https://dist.neo4j.com/wp-content/uploads/20220404160349/gds_main_Community_Forum.svg"
              alt=""
            />
            <h5 class="text-overline">Community Forums</h5>
            <strong
              ><p>
                Find support and help your peers through discussing and solving.
              </p></strong
            >
          </a>
        </div>
        <div
          class="cell p-4 small-12 small-12 medium-auto card card-minimal-style"
        >
          <a
            style="color: #151e29; text-decoration: none;"
            href="https://dev.neo4j.com/ninjas"
          >
            <img
              class="pb-4"
              src="https://dist.neo4j.com/wp-content/uploads/20220404160348/gds_main_Support_Portal.svg"
              alt=""
            />
            <h5 class="text-overline">Neo4j Ninjas Program</h5>
            <strong
              ><p>
                The Neo4j Ninjas program recognizes community experts who are
                shaping the future of graph databases.
              </p></strong
            >
          </a>
        </div>
        <div
          class="cell p-4 small-12 small-12 medium-auto card card-minimal-style"
        >
          <a
            style="color: #151e29; text-decoration: none;"
            href="https://neo4j.com/events"
          >
            <img
              class="pb-4"
              src="https://dist.neo4j.com/wp-content/uploads/20220404160351/gds_main_Partners.svg"
              alt=""
            />
            <h5 class="text-overline">Community Events</h5>
            <strong
              ><p>
                Join our weekly online live streams or find a local meetup in
                your area.
              </p></strong
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
