<section id="cta">
  <div class="grid-container p-12 bg-whitesmoke rounded-lg">
    <div class="grid-x">
      <div class="cell text-center medium-8 medium-offset-2">
        <h3>Neo4j Developer Updates In Your Inbox</h3>
        <p>
          Want in on the latest and greatest? Our weekly developer-focused
          newsletter showcases what's emerging with the next-gen of graph
          applications.
        </p>

        <div class="form--marketo-shortcode">
          <div class="ajax-spinner js-spinner__2374"></div>
          <form
            data-formID="2374"
            data-formInstance="one"
            class="neo-marketo-form"
            data-formtemplate="default"
            data-successType="thank-you-message"
            data-form-title="false"
            data-eventLabel="developer"
          >
          </form>
          <div class="form--success-message" style="display: none">
            <p><b>Thank you! Email Node added.</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
