<section id="cta">
  <div class="grid-container p-12 bg-whitesmoke rounded-lg">
    <div class="grid-x">
      <div class="cell text-center medium-8 medium-offset-2">
        <h3>Neo4j Developer Updates In Your Inbox</h3>
        <p>
          Want in on the latest and greatest? Our weekly developer-focused
          newsletter showcases what's emerging with the next-gen of graph
          applications.
        </p>

        <div class="form--marketo-shortcode">
          <div class="ajax-spinner js-spinner__2374" style="display: none;">
          </div>
          <form
            data-formid="2374"
            data-forminstance="one"
            class="neo-marketo-form mktoForm mktoHasWidth mktoLayoutLeft loaded"
            data-formtemplate="default"
            data-successtype="thank-you-message"
            data-form-title="false"
            data-eventlabel="developer"
            id=""
            novalidate="novalidate"
            data-styles-ready="true"
          >
            <style type="text/css">
              .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
                color: #fff;
                border: 1px solid #75ae4c;
                padding: 0.4em 1em;
                font-size: 1em;
                background-color: #99c47c;
                background-image: -webkit-gradient(
                  linear,
                  left top,
                  left bottom,
                  from(#99c47c),
                  to(#75ae4c)
                );
                background-image: -webkit-linear-gradient(
                  top,
                  #99c47c,
                  #75ae4c
                );
                background-image: -moz-linear-gradient(top, #99c47c, #75ae4c);
                background-image: linear-gradient(to bottom, #99c47c, #75ae4c);
              }
              .mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover {
                border: 1px solid #447f19;
              }
              .mktoForm .mktoButtonWrap.mktoSimple .mktoButton:focus {
                outline: none;
                border: 1px solid #447f19;
              }
              .mktoForm .mktoButtonWrap.mktoSimple .mktoButton:active {
                background-color: #75ae4c;
                background-image: -webkit-gradient(
                  linear,
                  left top,
                  left bottom,
                  from(#75ae4c),
                  to(#99c47c)
                );
                background-image: -webkit-linear-gradient(
                  top,
                  #75ae4c,
                  #99c47c
                );
                background-image: -moz-linear-gradient(top, #75ae4c, #99c47c);
                background-image: linear-gradient(to bottom, #75ae4c, #99c47c);
              }
            </style><div class="mktoFormRow" data-wrapper-for="Email">
              <div class="mktoFieldDescriptor mktoFormCol">
                <div class="mktoFieldWrap mktoRequiredField">
                  <label
                    for="Email_16807784339760.7484901448977681_16807784339860.5574237518129477"
                    id="LblEmail"
                    class="mktoLabel mktoHasWidth"
                    ><div class="mktoAsterix">*</div></label
                  ><input
                    id="Email_16807784339760.7484901448977681_16807784339860.5574237518129477"
                    name="Email"
                    placeholder="Email"
                    maxlength="255"
                    aria-labelledby="LblEmail InstructEmail"
                    type="email"
                    class="mktoField mktoEmailField mktoHasWidth mktoRequired"
                    aria-required="true"
                  /><span
                    id="InstructEmail"
                    tabindex="-1"
                    class="mktoInstruction"></span>
                </div>
              </div>
            </div><div class="mktoFormRow" data-wrapper-for="Single_Opt_In__c">
              <div class="mktoFieldDescriptor mktoFormCol">
                <div class="mktoFieldWrap">
                  <label
                    for="Single_Opt_In__c"
                    id="LblSingle_Opt_In__c"
                    class="mktoLabel mktoHasWidth"
                    ><div class="mktoAsterix">*</div></label
                  ><div class="mktoLogicalField mktoCheckboxList mktoHasWidth">
                    <input
                      name="Single_Opt_In__c"
                      id="mktoCheckbox_33439_0_16807784339760.7484901448977681_16807784339860.5574237518129477"
                      type="checkbox"
                      value="yes"
                      aria-labelledby="LblSingle_Opt_In__c LblmktoCheckbox_33439_0 InstructSingle_Opt_In__c"
                      class="mktoField"
                    /><label
                      for="mktoCheckbox_33439_0_16807784339760.7484901448977681_16807784339860.5574237518129477"
                      id="LblmktoCheckbox_33439_0"
                      >Yes! Please email me the Developer Newsletter. I can
                      unsubscribe at any time.</label>
                  </div><span
                    id="InstructSingle_Opt_In__c"
                    tabindex="-1"
                    class="mktoInstruction"></span>
                </div>
              </div>
            </div><div
              class="mktoFormRow"
              data-wrapper-for="subscriptionDevRelnewsletter"
            >
              <input
                type="hidden"
                name="subscriptionDevRelnewsletter"
                class="mktoField mktoFieldDescriptor mktoFormCol"
                value="True"
              />
            </div><div class="mktoFormRow" data-wrapper-for="utmsource">
              <input
                type="hidden"
                name="utmsource"
                class="mktoField mktoFieldDescriptor mktoFormCol"
                value="Twitter"
              />
            </div><div class="mktoFormRow" data-wrapper-for="utmcampaign">
              <input
                type="hidden"
                name="utmcampaign"
                class="mktoField mktoFieldDescriptor mktoFormCol"
                value="Twin4j"
              />
            </div><div class="mktoFormRow" data-wrapper-for="utmcontent">
              <input
                type="hidden"
                name="utmcontent"
                class="mktoField mktoFieldDescriptor mktoFormCol"
                value="NONE"
              />
            </div><div class="mktoFormRow" data-wrapper-for="utmterm">
              <input
                type="hidden"
                name="utmterm"
                class="mktoField mktoFieldDescriptor mktoFormCol"
                value="Text"
              />
            </div><div class="mktoFormRow" data-wrapper-for="utmplacement">
              <input
                type="hidden"
                name="utmplacement"
                class="mktoField mktoFieldDescriptor mktoFormCol"
                value="NONE"
              />
            </div><div class="mktoFormRow" data-wrapper-for="utmadgroup">
              <input
                type="hidden"
                name="utmadgroup"
                class="mktoField mktoFieldDescriptor mktoFormCol"
                value="NONE"
              />
            </div><div class="mktoFormRow" data-wrapper-for="utmmedium">
              <input
                type="hidden"
                name="utmmedium"
                class="mktoField mktoFieldDescriptor mktoFormCol"
                value="social"
              />
            </div><div class="mktoFormRow" data-wrapper-for="Opt_In__c">
              <input
                type="hidden"
                name="Opt_In__c"
                class="mktoField mktoFieldDescriptor mktoFormCol"
                value=""
              />
            </div><div
              class="mktoFormRow"
              data-wrapper-for="subscriptionBlogDigestWeekly"
            >
              <input
                type="hidden"
                name="subscriptionBlogDigestWeekly"
                class="mktoField mktoFieldDescriptor mktoFormCol"
                value="True"
              />
            </div><div class="mktoButtonRow">
              <span class="mktoButtonWrap mktoSimple"
                ><button type="submit" class="mktoButton">Subscribe Me</button
                ></span>
            </div><input
              type="hidden"
              name="formid"
              class="mktoField mktoFieldDescriptor"
              value="2374"
            /><input
              type="hidden"
              name="munchkinId"
              class="mktoField mktoFieldDescriptor"
              value="710-RRC-335"
            /><div class="mktoFormRow privacy-policy" data-wrapper-for="">
              <div class="mktoFormCol" style="margin-bottom: 5px;">
                <div class="mktoOffset mktoHasWidth" style="width: 5px;">
                </div><div class="mktoFieldWrap">
                  <div class="mktoHtmlText mktoHasWidth">
                    The information you provide will be used in accordance with
                    the terms of our <a
                      href="https://neo4j.com/privacy-policy/"
                      target="_blank"
                      class="mchNoDecorate">privacy policy.</a
                    ><br />
                  </div><div class="mktoClear"></div>
                </div><div class="mktoClear"></div>
              </div><div class="mktoClear"></div>
            </div>
          </form>
          <div class="form--success-message" style="display: none">
            <p><b>Thank you! Email Node added.</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
