<section id="cta">
  <div class="grid-container p-12 bg-whitesmoke rounded-lg">
    <div class="grid-x">
      <div class="cell text-center medium-8 medium-offset-2">
        <h3>Neo4j Developer Updates In Your Inbox</h3>
        <p>
          Want in on the latest and greatest? Our weekly developer-focused
          newsletter showcases what's emerging with the next-gen of graph
          applications.
        </p>

        <form id="mktoForm_2374"></form>
        <div id="thks-subs"></div>

        <script
          is:inline
          src="https://app-ab10.marketo.com/js/forms2/js/forms2.min.js"
        ></script>
        <script type="text/javascript">
          MktoForms2.loadForm(
            "//app-ab10.marketo.com",
            "710-RRC-335",
            2374,
            function (form) {
              // Add an onSuccess handler
              form.onSuccess(function (values, followUpUrl) {
                document.getElementById("thks-subs").innerHTML =
                  "<p class='byline mb-0'>Thank you! Email Node added.</p><p class='byline'>Receive more news and events: <a href='https://neo4j.com/manage-subscriptions/'>manage your subscriptions.<a/></p>";
                form.getFormElem().hide();
                return false;
              });
            }
          );
        </script>
      </div>
    </div>
  </div>
</section>

<style>
  #thks-subs {
    font-weight: bold;
  }
</style>
