---
import Javascript from "./languages/javascript.astro";
import Python from "./languages/python.astro";
import Go from "./languages/go.astro";
import Dotnet from "./languages/dotnet.astro";
import Java from "./languages/java.astro";

const languages = [
  {
    name: "JavaScript",
    logo: Javascript,
    links: [
      {
        url: "https://neo4j.com/docs/javascript-manual/current/",
        text: "Neo4j JavaScript Driver Manual",
      },
      {
        url: "https://graphacademy.neo4j.com/courses/app-nodejs/?ref=developer",
        text: "Building Neo4j Applications with Node.js",
      },
      {
        url: "https://graphacademy.neo4j.com/courses/app-typescript/",
        text: "Building Neo4j Applications with TypeScript",
      },
    ],
  },
  {
    name: "Python",
    logo: Python,
    links: [
      {
        url: "https://neo4j.com/docs/python-manual/current/",
        text: "Neo4j Python Driver Manual",
      },
      {
        url: "https://graphacademy.neo4j.com/courses/app-python/?ref=developer",
        text: "Building Neo4j Applications with Python",
      },
    ],
  },
  {
    name: "Go",
    logo: Go,
    links: [
      {
        url: "https://neo4j.com/docs/go-manual/current/",
        text: "Neo4j Go Driver Manual",
      },
      {
        url: "https://graphacademy.neo4j.com/courses/app-go/?ref=developer",
        text: "Building Neo4j Applications with Go",
      },
    ],
  },
  {
    name: ".NET",
    logo: Dotnet,
    links: [
      {
        url: "https://neo4j.com/docs/dotnet-manual/current/",
        text: "Neo4j .NET Driver Manual",
      },
      {
        url: "https://graphacademy.neo4j.com/courses/app-dotnet/?ref=developer",
        text: "Building Neo4j Applications with .NET",
      },
    ],
  },
  {
    name: "Java",
    logo: Java,
    links: [
      {
        url: "https://neo4j.com/docs/java-manual/current/",
        text: "Neo4j Java Driver Manual",
      },
      {
        url: "https://graphacademy.neo4j.com/courses/app-java/?ref=developer",
        text: "Building Neo4j Applications with Java",
      },
    ],
  },
];
---

<section id="get-started" class="pt-0 pb-0">
  <div class="grid-container p-12">
    <div class="grid-x">
      <div class="cell medium-6 medium-offset-3 text-center">
        <h2>Build an Application with Neo4j &amp; Official Drivers</h2>
        <p>
          Write your first graph-enabled application using full code examples.
          Find your favorite language and get the documentation, sample code,
          and tools you need to start developing with Neo4j today.
        </p>
      </div>
    </div>
    <div class="grid-x grid-margin-x grid-margin-y pt-12 align-center">
      {
        languages.map((language) => (
          <div class="cell medium-2 medium-auto align-center">
            <div class="language border rounded-md">
              <a href={language.links[0].url} class="block  px-4 py-6 ">
                <div class="logo">
                  <language.logo class="block" />
                </div>
                {language.name}
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style is:global>
  .language {
    border-color: rgb(229, 231, 235);
    text-align: center;
  }
  .language a:hover {
    text-decoration: none;
  }
  .language .logo {
    height: 64px;
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
  }
  .language svg {
    display: block;
    margin: auto;
  }
</style>
