<section id="four-col">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-x">
      <div class="cell">
        <h2>Developer Education Resources</h2>
        <p>
          Learn the benefits of graph technology from a variety of <br
          />educational experiences.
        </p>
      </div>
    </div>
    <div class="grid-x grid-margin-x grid-margin-y">
      <div
        class="cell medium-6 card-hover-animation border rounded-md p-8 bg-white"
      >
        <a href="/developer/graph-database/"
          ><img
            class="mb-4"
            src="https://dist.neo4j.com/wp-content/uploads/20220223152608/laptop-book-2.svg"
            alt=""
          />
          <p><b>Graph Database Beginner's Guide</b></p></a
        >
      </div>
      <div
        class="cell medium-6 card-hover-animation border rounded-md p-8 bg-white"
      >
        <a href="https://graphacademy.neo4j.com/"
          ><img
            class="mb-4"
            src="https://dist.neo4j.com/wp-content/uploads/20220223152609/learning-monitor.svg"
            alt=""
          />
          <p><b>Self-Paced GraphAcademy Tracks</b></p></a
        >
      </div>
      <div
        class="cell medium-6 card-hover-animation border rounded-md p-8 bg-white"
      >
        <a href="/developer/cypher/guide-build-a-recommendation-engine/"
          ><img
            class="mb-4"
            src="https://dist.neo4j.com/wp-content/uploads/20220223152607/code-search.svg"
            alt=""
          />
          <p><b>Build Your First Graph Application Tutorial</b></p></a
        >
      </div>
      <div
        class="cell medium-6 card-hover-animation border rounded-md p-8 bg-white"
      >
        <a href="https://community.neo4j.com/"
          ><img
            class="mb-4"
            src="https://dist.neo4j.com/wp-content/uploads/20220223152607/fireworks-community-2.svg"
            alt=""
          />
          <p><b>Reach Out to the Community</b></p></a
        >
      </div>
    </div>
  </div>
</section>
