<footer data-c="footer navigation">
  <div id="footer-v2" class="bg-baltic-80 text-white py-16 text-sm">
    <div class="grid-container flex flex-col gap-y-8">
      <div class="grid-x grid-padding-y grid-margin-y">
        <!-- Products column -->
        <div class="cell small-12 medium-3 flex flex-col gap-y-3">
          <div class="uppercase font-bold">Products</div>
          <ul class="list-none m-0 mb-4">
            <li class="mb-2">
              <a
                data-l="Neo4j Graph Database"
                class="leading-6"
                href="/product/neo4j-graph-database/">Neo4j Graph Database</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Neo4j AuraDB"
                class="leading-6"
                href="/cloud/platform/aura-graph-database/">Neo4j AuraDB</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Neo4j Graph Data Science"
                class="leading-6"
                href="/product/graph-data-science/">Neo4j Graph Data Science</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Download Center"
                class="leading-6"
                href="/deployment-center/">Deployment Center</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="professional-services"
                class="leading-6"
                href="/professional-services/">Professional Services</a
              >
            </li>
            <li class="mb-2">
              <a data-l="Pricing" class="leading-6" href="/pricing/">Pricing</a>
            </li>
          </ul>
          <!-- Graph Tools column -->
          <div class="uppercase font-bold">Graph Tools</div>
          <ul class="list-none m-0 mb-4">
            <li class="mb-2">
              <a
                data-l="Neo4j Developer Tools"
                class="leading-6"
                href="/product/developer-tools/">Neo4j Developer Tools</a
              >
            </li>
            <li class="mb-2">
              <a data-l="Neo4j Workspace" class="leading-6" href="/workspace/"
                >Neo4j Workspace</a
              >
            </li>
            <li class="mb-2">
              <a data-l="Neo4j Bloom" class="leading-6" href="/product/bloom/"
                >Neo4j Bloom</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Neo4j GraphQL Library"
                class="leading-6"
                href="/product/graphql-library/">Neo4j GraphQL Library</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Neo4j Data Connectors"
                class="leading-6"
                href="/product/connectors/">Neo4j Data Connectors</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Cypher Query Language"
                class="leading-6"
                href="/product/cypher-graph-query-language/"
                >Cypher Query Language</a
              >
            </li>
          </ul>
          <!-- Use Cases column -->
          <div class="uppercase font-bold">Use Cases</div>
          <ul class="list-none m-0 mb-4">
            <li class="mb-2">
              <a data-l="Generative AI" class="leading-6" href="/generativeai/"
                >Generative AI</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Industries & Use Cases"
                class="leading-6"
                href="/use-cases/">Industries &amp; Use Cases</a
              >
            </li>
            <li class="mb-2">
              <a data-l="Case Studies" class="leading-6" href="/case-studies/"
                >Case Studies</a
              >
            </li>
            <li class="mb-2">
              <a data-l="Customers" class="leading-6" href="/customers/"
                >Customers</a
              >
            </li>
          </ul>
        </div>
        <div class="cell small-12 medium-3 flex flex-col gap-y-3">
          <!-- Developers -->
          <div class="uppercase font-bold">Developers</div>
          <ul class="list-none m-0 mb-4">
            <li class="mb-2">
              <a data-l="Developer Home" class="leading-6" href="/developer/"
                >Developer Home</a
              >
            </li>
            <li class="mb-2">
              <a data-l="Documentation" class="leading-6" href="/docs/"
                >Documentation</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Deployment Center"
                class="leading-6"
                href="/deployment-center/">Deployment Center</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Developer Blog"
                class="leading-6"
                href="/developer-blog/">Developer Blog</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Community"
                class="leading-6"
                href="https://community.neo4j.com/">Community</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Virtual Events"
                class="leading-6"
                href="/developer/online-meetup/">Virtual Events</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="GraphAcademy"
                class="leading-6"
                href="https://graphacademy.neo4j.com/">GraphAcademy</a
              >
            </li>
          </ul>
          <!-- Data Scientists -->
          <div class="uppercase font-bold">Data Scientists</div>
          <ul class="list-none m-0 mb-4">
            <li class="mb-2">
              <a
                data-l="Graph Data Science Home"
                class="leading-6"
                href="/product/graph-data-science/">Graph Data Science Home</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Data Science Documentation"
                class="leading-6"
                href="/docs/graph-data-science/current/"
                >Data Science Documentation</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Get Started with Graph Data Science"
                class="leading-6"
                href="/graph-data-science-software/"
                >Get Started with Graph Data Science</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Data Science Community"
                class="leading-6"
                href="https://community.neo4j.com/c/neo4j-graph-platform/graph-algorithms/73"
                >Data Science Community</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="GraphAcademy for Data Science"
                class="leading-6"
                href="https://graphacademy.neo4j.com/categories/data-scientist/"
                >GraphAcademy for Data Science</a
              >
            </li>
          </ul>
        </div>

        <div class="cell small-12 medium-3 flex flex-col gap-y-3">
          <!-- Learn column -->
          <div class="uppercase font-bold">Learn</div>
          <ul class="list-none m-0 mb-4">
            <li class="mb-2">
              <a data-l="resources" class="leading-6" href="/resources/"
                >Resource Library</a
              >
            </li>
            <li class="mb-2">
              <a data-l="blog" class="leading-6" href="/blog/">Neo4j Blog</a>
            </li>
            <li class="mb-2">
              <a
                data-l="GraphAcademy"
                class="leading-6"
                href="https://graphacademy.neo4j.com/">GraphAcademy</a
              >
            </li>
            <li class="mb-2">
              <a data-l="Case Studies" class="leading-6" href="/case-studies/"
                >Case Studies</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Executive Insights"
                class="leading-6"
                href="/graph-database-executive-insights/">Executive Insights</a
              >
            </li>
            <li class="mb-2">
              <a data-l="Events Calendar" class="leading-6" href="/events/"
                >Events Calendar</a
              >
            </li>
            <li class="mb-2">
              <a data-l="Graph Summit" class="leading-6" href="/graphsummit/"
                >Graph Summit</a
              >
            </li>
            <li class="mb-2">
              <a data-l="Connections" class="leading-6" href="/connections/"
                >Connections</a
              >
            </li>
            <li class="mb-2">
              <a data-l="Live Demos" class="leading-6" href="/live-demos/"
                >Live Demos</a
              >
            </li>
            <li class="mb-2">
              <a data-l="Webinars" class="leading-6" href="/webinars/"
                >Webinars</a
              >
            </li>
          </ul>
          <!-- Partners -->
          <div class="uppercase font-bold">Partners</div>
          <ul class="list-none m-0 mb-4">
            <li class="mb-2">
              <a
                data-l="Find a Partner"
                class="leading-6"
                href="/partners/directory/">Find a Partner</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Become a Partner"
                class="leading-6"
                href="/partners/neo4j-partner-program/">Become a Partner</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Solution Partners"
                class="leading-6"
                href="/partners/solution-partners/">Solution Partners</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="OEM Partners"
                class="leading-6"
                href="/partners/oem-partners/">OEM Partners</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Technology Partners"
                class="leading-6"
                href="/partners/technology-partners/">Technology Partners</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="Partner Portal Login"
                class="leading-6"
                target="_blank"
                href="https://neo4j.my.site.com/Neo4jPartnerCommunity"
                aria-label="Partner Portal Login (opens in new tab)"
                >Partner Portal Login</a
              >
            </li>
          </ul>
        </div>

        <!-- About column -->
        <div class="cell small-12 medium-3 flex flex-col gap-y-3">
          <!-- company -->
          <div class="uppercase font-bold">Company</div>
          <ul class="list-none m-0 mb-4">
            <li class="mb-2">
              <a data-l="company" class="leading-6" href="/company/">About Us</a
              >
            </li>
            <li class="mb-2">
              <a data-l="newsroom" class="leading-6" href="/news/">Newsroom</a>
            </li>
            <li class="mb-2">
              <a data-l="awards and honors" class="leading-6" href="/awards/"
                >Awards and Honors</a
              >
            </li>
            <li class="mb-2">
              <a data-l="Graphs4Good" class="leading-6" href="/graphs4good/"
                >Graphs4Good</a
              >
            </li>
            <li class="mb-2">
              <a data-l="careers" class="leading-6" href="/careers/">Careers</a>
            </li>
            <li class="mb-2">
              <a data-l="culture" class="leading-6" href="/culture/">Culture</a>
            </li>
            <li class="mb-2">
              <a
                data-l="diversity"
                class="leading-6"
                href="/diversity-and-inclusion/">Diversity</a
              >
            </li>
            <li class="mb-2">
              <a data-l="staff" class="leading-6" href="/leadership/"
                >Leadership</a
              >
            </li>
            <li class="mb-2">
              <a
                data-l="support"
                class="leading-6"
                href="https://support.neo4j.com"
                aria-label="Support (opens in new tab)"
                target="_blank">Support</a
              >
            </li>
          </ul>
          <div class="uppercase font-bold">
            <a
              class="font-bold"
              data-l="contact us"
              href="/contact-us/?ref=footer">Contact Us →</a
            >
          </div>
          <div>
            <ul class="list-none m-0 mb-4">
              <li class="leading-6 mb-2">
                US: <a data-l="US phone" href="tel:1-855-636-4532"
                  >1-855-636-4532</a
                >
              </li>
              <li class="leading-6 mb-2">
                Sweden: <a data-l="Sweden phone" href="tel:+46 171 480 113"
                  >+46 171 480 113</a
                >
              </li>
              <li class="leading-6 mb-2">
                UK: <a data-l="UK phone" href="tel:+44 20 3868 3223"
                  >+44 20 3868 3223</a
                >
              </li>
              <li class="leading-6 mb-2">
                France: <a
                  data-l="France phone"
                  href="tel:+33 (0) 1 88 46 13 20">+33 (0) 1 88 46 13 20</a
                >
              </li>
            </ul>
          </div>
          <div id="social-icons">
            <div class="uppercase font-bold mb-4">Social Networks</div>
            <a
              data-l="linkedin icon"
              href="https://www.linkedin.com/company/neo4j"
              aria-label="Neo4j on LinkedIn (opens in new tab)"
              target="_blank"
              rel="noopener"
            >
              <div
                class="bg-baltic-55 rounded-full p-2 mr-1 inline-flex justify-center"
              >
                <i
                  style="height: 14px; width: 14px"
                  class="n-icon n-icon-linkedin n-icon-white"></i>
              </div>
            </a>

            <a
              data-l="twitter icon"
              href="https://twitter.com/neo4j"
              aria-label="Neo4j on Twitter (opens in new tab)"
              target="_blank"
              rel="noopener"
            >
              <div
                class="bg-baltic-55 rounded-full p-2 mr-1 inline-flex justify-center"
              >
                <i
                  style="height: 14px; width: 14px"
                  class="n-icon n-icon-twitter n-icon-white"></i>
              </div>
            </a>

            <a
              data-l="youtube icon"
              href="https://youtube.com/neo4j"
              aria-label="Neo4j on YouTube (opens in new tab)"
              target="_blank"
              rel="noopener"
            >
              <div
                class="bg-baltic-55 rounded-full p-2 mr-1 inline-flex justify-center"
              >
                <i
                  style="height: 14px; width: 14px"
                  class="n-icon n-icon-youtube n-icon-white"></i>
              </div>
            </a>

            <a
              data-l="facebook icon"
              href="https://www.facebook.com/neo4j.graph.database"
              aria-label="Neo4j on Facebook (opens in new tab)"
              target="_blank"
              rel="noopener"
            >
              <div
                class="bg-baltic-55 rounded-full p-2 mr-1 inline-flex justify-center"
              >
                <i
                  style="height: 14px; width: 14px"
                  class="n-icon n-icon-facebook n-icon-white"></i>
              </div>
            </a>

            <a
              data-l="community icon"
              href="https://community.neo4j.com"
              aria-label="Neo4j Community Forum (opens in new tab)"
              target="_blank"
              rel="noopener"
            >
              <div
                class="bg-baltic-55 rounded-full p-2 inline-flex justify-center"
              >
                <i
                  style="height: 14px; width: 14px"
                  class="n-icon n-icon-conversation-text n-icon-white"></i>
              </div>
            </a>

            <a
              data-l="github icon"
              href="https://github.com/neo4j"
              aria-label="Neo4j Github (opens in new tab)"
              target="_blank"
              rel="noopener"
            >
              <div
                class="bg-baltic-55 rounded-full p-2 inline-flex justify-center"
              >
                <i
                  style="height: 14px; width: 14px"
                  class="n-icon n-icon-github n-icon-white"></i>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="grid-x grid-padding-y">
        <div class="cell small-12 medium-3">
          <div>© <span id="footer-copyright-year">2023</span> Neo4j, Inc.</div>
          <div>
            <a data-l="terms" href="/terms/">Terms</a> | <a
              data-l="privacy"
              href="/privacy-policy/">Privacy Policy</a
            > | <a data-l="sitemap" href="/sitemap/">Sitemap</a>
            <br />
            <a
              data-l="corruption"
              href="https://assets.neo4j.com/Neo4j_Anti_Corruption_Policy_Final.pdf"
              >Anti-Corruption Policy</a
            >
          </div>
        </div>
        <div class="cell small-12 medium-9">
          Neo4j®, Neo Technology®, Cypher®, Neo4j® Bloom™, Neo4j® AuraDS™ and
          Neo4j® AuraDB™ are registered trademarks of Neo4j, Inc. All other
          marks are owned by their respective companies.
        </div>
      </div>
    </div>
    <div
      class="hidden show-for-large contact-us-btn-container"
      style="position: fixed; right: 1rem; bottom: 0rem;"
    >
      <a
        href="/contact-us/"
        style="color: white; text-decoration: none"
        class="contact-us-btn button"
        ><img
          class="mr-1"
          style="filter: brightness(0) invert(1); vertical-align: bottom; padding-bottom: 1px; margin-left: -1px;"
          src="https://dist.neo4j.com/wp-content/uploads/20210608133508/icon-tooltip-info.svg"
          alt=""
        /> Contact Us</a
      >
    </div>
  </div>
</footer>

<a class="exit-off-canvas"></a>

<script>
  (function (body) {
    "use strict";
    body.className = body.className.replace(/\btribe-no-js\b/, "tribe-js");
  })(document.body);
</script>
<script>
  /* <![CDATA[ */ var tribe_l10n_datatables = {
    aria: {
      sort_ascending: ": activate to sort column ascending",
      sort_descending: ": activate to sort column descending",
    },
    length_menu: "Show _MENU_ entries",
    empty_table: "No data available in table",
    info: "Showing _START_ to _END_ of _TOTAL_ entries",
    info_empty: "Showing 0 to 0 of 0 entries",
    info_filtered: "(filtered from _MAX_ total entries)",
    zero_records: "No matching records found",
    search: "Search:",
    all_selected_text: "All items on this page were selected. ",
    select_all_link: "Select all pages",
    clear_selection: "Clear Selection.",
    pagination: { all: "All", next: "Next", previous: "Previous" },
    select: {
      rows: { "0": "", _: ": Selected %d rows", "1": ": Selected 1 row" },
    },
    datepicker: {
      dayNames: [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ],
      dayNamesShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
      dayNamesMin: ["S", "M", "T", "W", "T", "F", "S"],
      monthNames: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ],
      monthNamesShort: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ],
      monthNamesMin: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
      ],
      nextText: "Next",
      prevText: "Prev",
      currentText: "Today",
      closeText: "Done",
      today: "Today",
      clear: "Clear",
    },
  }; /* ]]> */
</script><script
  type="text/javascript"
  src="https://neo4j.com/wp-content/themes/neo4jweb/assets_v2/dist/dist.min.js?ver=202308119-1455"
  id="neo_app-js"
></script>
<script
  type="text/javascript"
  src="https://neo4j.com/wp-includes/js/imagesloaded.min.js?ver=4.1.4"
  id="imagesloaded-js"
></script>
<script
  type="text/plain"
  src="https://neo4j.com/wp-content/themes/neo4jweb/assets/js/dist/components/neo_cookies.min.js?ver=20230228-2141"
  data-cookieconsent="marketing"
></script>
<script
  type="text/javascript"
  src="https://neo4j.com/wp-content/themes/neo4jweb/assets/neo4j-react-modules-assets/search-preact/bundle.13161.js?ver=6.3.2"
  id="/var/www/wp-content/themes/neo4jweb/assets/neo4j-react-modules-assets/search-preact/bundle.13161.js-js"
></script>
<script
  type="text/javascript"
  src="https://neo4j.com/wp-content/themes/neo4jweb/assets/neo4j-react-modules-assets/search-preact/polyfills.03bf6.js?ver=6.3.2"
  id="/var/www/wp-content/themes/neo4jweb/assets/neo4j-react-modules-assets/search-preact/polyfills.03bf6.js-js"
></script>
<script
  type="text/javascript"
  src="https://neo4j.com/wp-content/themes/neo4jweb/assets/js/dist/components/set-language-preference.min.js?ver=1698787368"
  id="set-language-preference-js"
></script>

<script>
  // for auto-adjusting the height of the iframe window
  window.addEventListener("message", function (event) {
    // Ignores messages from untrusted domains.
    if (
      event.origin !== "https://go.neo4j.com" &&
      event.origin !== "https://info.neo4j.com" &&
      event.origin !== "https://neo4jdotcom"
    ) {
      return;
    }

    let marketoIframeEventData = event.data;
    if (!marketoIframeEventData || typeof marketoIframeEventData !== "string")
      return;

    if (marketoIframeEventData.indexOf("px") > -1) {
      marketoIframeEventData = parseInt(marketoIframeEventData);
      $("iframe#mkto_iframe").height(marketoIframeEventData);
    }
  });
</script>

<script>
  var service = false;
  var iframeReload = false;

  document.addEventListener("DOMContentLoaded", () => {
    let serviceContainer = document.querySelectorAll(".service-container");
    for (container of serviceContainer) {
      service = container.getAttribute("data-service");
    }

    if (service !== false) {
      return;
    }

    window.addEventListener("message", (e) => {
      if (
        event.origin !== "https://go.neo4j.com" &&
        event.origin !== "https://info.neo4j.com" &&
        event.origin !== "https://neo4jdocom"
      ) {
        return;
      }

      let marketoIframeEventData = event.data;
      if (
        !marketoIframeEventData ||
        typeof marketoIframeEventData !== "string"
      ) {
        return;
      }

      if (marketoIframeEventData.indexOf("iframeUrl") > -1) {
        let iframeURL = marketoIframeEventData.substr(10);
        let params = document.URL.split("?")[1];

        if (params) {
          if (iframeReload === false && params.indexOf("utm") > -1) {
            iframeReload = true;
            document.getElementById("mkto_iframe").src =
              iframeURL + "?" + params;
          }
        }
      }
    });
  });
</script>

<!-- end of if is_singular etc -->

<script>
  // Stop all the lottie animations after a set amount of time
  setTimeout(function () {
    let lottiePlayers = document.querySelectorAll("lottie-player");
    console.log(lottiePlayers);
    lottiePlayers.forEach(function (lottiePlayer) {
      // Pause the animation and bring it to the first frame
      lottiePlayer.pause();
      lottiePlayer.seek(192);
    });
  }, 4 * 60 * 1000);
</script>
