---
import QuickLink from "../components/quick-link.astro";
import Graph from "../components/graph/graph";
---

<div id="page-home">
  <div class="bg-neutral-20 blazing-fast">
    <section class="relative" id="hero-ssection">
      <Graph client:only="react" />
      <div class="grid-container relative">
        <div class="grid-x">
          <div class="cell small-12 large-6 pt-8 pb-4 left-column">
            <div class="hero-section mb-8 mx-auto" style="max-width: 45rem;">
              <p class="text-overline-lg">Get started with Neo4j</p>
              <h1>A simple structure for representing connected data.</h1>
              <div class="mb-12">
                <p class="text-subtitle font-normal mb-4">
                  You can use
                  <a href="#">Nodes</a>
                  and
                  <a href="#">Relationships</a>
                  to model real-world entites and their connections, making data
                  exploration, analysis, and insights a breeze across various applications.
                </p>
                <p class="text-subtitle font-normal mb-4">
                  Add <a href="#">Properties</a>
                  to Nodes and Relationships to add context to your data.
                </p>
                <p class="text-subtitle font-normal mb-4">
                  Neo4j traverses connected data by
                  <a href="#">relationship type</a>
                  and
                  <a href="#">direction</a>
                  to provide real-time responses from highly connected datasets.
                </p>
              </div>
            </div>
          </div>

          <div class="cell small-12 large-6 text-center right-column relative">
          </div>
        </div>

        <div class="grid-x grid-margin-x grid-margin-y">
          <QuickLink
            link="#"
            image="https://dist.neo4j.com/wp-content/uploads/20221101082027/gdb-icon-hierarchy.svg"
            overline="Get Started Guide"
            text="Take your first steps with Neo4j"
          />
          <QuickLink
            link="#"
            image="https://dist.neo4j.com/wp-content/uploads/20221101082030/paper-text-3.svg"
            overline="Documentation"
            text="Manuals for Neo4j, Cypher and drivers"
          />
          <QuickLink
            link="#"
            image="https://dist.neo4j.com/wp-content/uploads/20220315165554/learning-monitor-1.svg"
            overline="Neo4j GraphAcademy"
            text="Learn online at your own pace"
          />
        </div>

        <!-- <div class="grid-x grid-margin-y">
            <div class="cell small-12">
              <div class="persona-tabs pt-8">
                <div class="persona-tab">
                  <strong>Neo4j Learning sources for</strong>
                </div>
                <div class="persona-tab persona-tab--active">
                  <a href="#">Developers</a>
                </div>
                <div class="persona-tab">
                  <a href="#">Data Engineers</a>
                </div>
                <div class="persona-tab">
                  <a href="#">Data Scientists</a>
                </div>
              </div>
            </div> -->
      </div>
    </section>
  </div>

  <!-- <div class="hero-section">
      <p class="text-overline-lg">Neo4j Developer Resources</p>
      <h1></h1>
      <p>
        You can use of Nodes and Relationships to model real-world entites and
        their connections, making data exploration, analysis, and insights a
        breeze across various applications.
      </p>
    </div> -->
</div>
