---
import QuickLink from "./quick-link";
---

<div id="page-home">
  <div class="bg-neutral-15 blazinsg-fast">
    <section class="relative" id="hero-ssection">
      <!-- <div
        class="graph-canvas"
        style={{
          paddingLeft: "40%",
          height: "100%",
          background: "url('/developers.svg') no-repeat center center",
          backgroundSize: "820px auto",
        }}
      >
      </div> -->
      <div class="grid-container relative">
        <div class="grid-x">
          <div class="cell small-12 large-6 pt-8 pb-4 left-column">
            <div
              class="hero-section mb-8 mx-auto"
              style={{ maxWidth: "45rem", background: "transparent" }}
            >
              <p class="text-overline-lg">Get started with Neo4j</p>
              <h1>A simple structure for representing connected data.</h1>
              <div class="mb-12">
                <p class="text-subtitle font-normal mb-4">
                  You can use
                  <strong> Nodes</strong>
                  and
                  <strong> Relationships</strong>
                  to model real-world entites and their connections, making data
                  exploration, analysis, and insights a breeze across various applications.
                </p>
                <p class="text-subtitle font-normal mb-4">
                  Add <strong> Properties</strong>
                  to Nodes and Relationships to add context to your data.
                </p>

                <p class="text-subtitle font-normal mb-4">
                  Neo4j traverses connected data by
                  <strong> relationship type</strong>
                  and
                  <strong> direction</strong>
                  to provide real-time responses from highly connected datasets.
                </p>
              </div>
            </div>
          </div>

          <div
            class="cell small-12 large-6 text-center right-column relative"
            style="background: url('/developers.svg') no-repeat center center; background-size: 120% auto"
          >
          </div>
        </div>

        <div class="grid-x grid-margin-x grid-margin-y">
          <QuickLink
            link="#"
            image="https://dist.neo4j.com/wp-content/uploads/20221101082027/gdb-icon-hierarchy.svg"
            overline="Get Started Guide"
            text="Take your first steps with Neo4j"
          />
          <QuickLink
            link="#"
            image="https://dist.neo4j.com/wp-content/uploads/20221101082030/paper-text-3.svg"
            overline="Documentation"
            text="Manuals for Neo4j, Cypher and drivers"
          />
          <QuickLink
            link="#"
            image="https://dist.neo4j.com/wp-content/uploads/20220315165554/learning-monitor-1.svg"
            overline="Neo4j GraphAcademy"
            text="Learn online at your own pace"
          />
        </div>
      </div>
    </section>
  </div>
</div>
